// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&display=swap');

body {
  font-family: 'Lato', sans-serif;
  color: white;
  background-color: #468faf;
}

h1 {
  font-size: 80px;
}

.container {
  padding: 0px;
}

.nav-link {
  color: white;
}

.navbar-lewagon {
  justify-content: space-between;
  background: #89c2d9;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 51px;
  height: 51px;
  border-radius: 14px;
}

.content {
  align-content: space-between;
}

#content {
  align-content: space-between;
}

#banner {
   background-size: cover;
   width: 100%;
   heigh: 200px;
}

#earth_div {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.flag {
  width: 65%;
  height: 80%;
  margin-left: 10px;
  margin-top: 5px;
}

a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
}

a:link {
  text-decoration: none;
}

a:hover {
 text-decoration: none;
 color: lightgray;
 font-size: 20px;
}

.list-pages {
  list-style: none;
  padding: 0;
}

.space-list {
  padding-bottom: 30px;
  padding-top: 30px;
  box-shadow: 0px 3px white;
}
